*{
  margin: 0;
}

body{
  background: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__header > h1{
  color: red;
  font-size: 2rem;
}

.app--dropdown{
  background: white;
}

.app__left{
  flex: 0.9;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

@media(max-width: 990px) {
  .app{
    flex-direction: column;
  }
}